<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
    <script src="assets/js/jsinclude.js"></script>

  </head>
  <body>
    {% include navigation.html %}
<div class="preview-wrapper">
  <canvas id="canvas"></canvas>
  <p class="process-message"></p>
</div>
<div class="editor-buttons">
  <input type="file" id="upload-file" placeholder="Upload a Picture" />
  <label for="upload-file">Upload a Picture</label>
  <button id="download-btn">Download Image</button>
  <br/>

  <br/>
  <!---  <button id="maxrgb-btn">MaxRGB</button>
  <button id="minrgb-btn">MinRGB</button>--->
  <button id="original-btn">Original</button>
  <button id="protanope-btn">Protanope</button>
  <button id="deuteranope-btn">Deuteranope</button>
  <button id="tritanope-btn">Tritanope</button>
  <!---  <button id="emboss-btn">Emboss</button>
</div>--->  
</body>
</html>

